<ion-view view-title="Edit Profile" style="background: #1F1C2C;background: -webkit-linear-gradient(to bottom, #1F1C2C , #928DAB);
background: linear-gradient(to bottom, #1F1C2C , #928DAB);">
    <ion-content class="scroll scroll-content ionic-scroll">
       <form ng-submit="vm.EditProfile(vm.userData)" name="editForm">
           <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label ion-android-contact"> Your Name</span>
                <input type="text" placeholder="Your Name" name="name" ng-model="vm.userData.Name" >
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label ion-person-add"> Your Age</span>
                <input type="number" placeholder="Your Age" name="age" ng-model="vm.userData.Age">
            </label>
            <label class="item item-floating-label">
                <span class="input-label ion-male"> Your Gender</span>
                <ion-list>
                    <ion-radio ng-model="vm.userData.Gender" ng-value="'Male'"><i class="icon ion-male"></i> Male</ion-radio>
                    <ion-radio ng-model="vm.userData.Gender" ng-value="'Female'"><i class="icon ion-female"></i> Female</ion-radio>
                </ion-list>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label ion-man"> Your Height</span>
                <input type="number" placeholder="Your Height" ng-model="vm.userData.Height">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label ion-lock-combination"> Your Weight</span>
                <input type="number" placeholder="Your Weight" ng-model="vm.userData.Weight">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label ion-waterdrop"> Your Blood Group</span>
                <input type="text" placeholder="Your Blood Group" ng-model="vm.userData.BloodGroup">
            </label>
            <button type="submit" class="button button-block icon-left ion-medkit button-positive">Submit</button>
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div style="height:20px;">
        </div>
       </form>
       <style>
           .input-label {
                display: table;
                padding: 7px 10px 7px 0px;
                max-width: 200px;
                width: 35%;
                color: #fff;
                font-size: 16px;
            }
                    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
            display: block;
            padding-top: 2px;
            padding-left: 0;
            height: 34px;
            color: #d0caca;
            vertical-align: middle;
            font-size: 14px;
            line-height: 16px;
        }

           </style>
    </ion-content>
</ion-view>