<ion-view view-title="Home">
 <ion-content>
    <ion-slide-box show-pager="false">
    <ion-slide>
      <div class="card text-center" style="margin-top:50px;">
          <div class="item item-text-wrap">
            <h2>Hey Pravat !!</h2>
            <h1>How are you feeling today?</h1>
          </div>
          <div class="button-bar">
            <a class="button button-balanced button-small" ng-click="hc.slideOneY()" > Good <i class="ion ion-android-happy" style="font-size:12px;"></i></a>
            <a class="button button-assertive button-small" ng-click="hc.slideOne()" > Not So good!</a>
          </div>
         
      </div>
    </ion-slide>
    <ion-slide>
      <div class="card text-center" style="margin-top:50px;">
          <div class="item item-text-wrap">
            <h1>Are you feeling feverish ?</h1>
          </div>
          <div class="button-bar">
            <a class="button button-balanced button-small"  > No </a>
            <a class="button button-assertive button-small" ng-click="hc.slideTwo()" > Yes </a>          
          </div> 
      </div>
    </ion-slide>
     <ion-slide>
      <div class="card text-center" style="margin-top:50px;">
          <div class="item item-text-wrap">
            <h1> What is your body temprature ?</h1>
          </div>
          <div class="button-bar">
            <label class="item item-input ">
            <input type="number" placeholder="Your current Temprature"  ng-model="hc.userInput.temprature">
          </label>
            <a class="button button-assertive button-small" ng-click="hc.slideThree()" > Next </a>          
          </div> 
      </div>
    </ion-slide>
     <ion-slide>
      <div class="card text-center" style="margin-top:50px;">
          <div class="item item-text-wrap">
            <h1>Do you have muscle Pain ?</h1>
          </div>
          <div class="button-bar">
            <a class="button button-balanced button-small"  > No </a>
            <a class="button button-assertive button-small" ng-click="hc.slideFour()" > Yes </a>          
          </div> 
      </div>
    </ion-slide>
     <ion-slide>
      <div class="card text-center" style="margin-top:50px;">
          <div class="item item-text-wrap">
            <h2>Hey Pravat !!</h2>
            <h1>Vomiting ?</h1>
          </div>
          <div class="button-bar">
            <a class="button button-balanced button-small" ng-click="hc.slideFiveN()" > No  </a>
            <a class="button button-assertive button-small" ng-click="hc.slideFive()" > Yes </a>          
          </div> 
      </div>
    </ion-slide>
      <ion-slide>
      <div class="card text-center" style="margin-top:50px;">
          <div class="item item-text-wrap">
            <h2>Your Result</h2>
            <h1>{{hc.Result}}</h1>
          </div>
          <div class="button-bar">
            <a class="button button-balanced button-small" ng-click="hc.slidesix()" > Test again  </a>
                      
          </div> 
      </div>
    </ion-slide>
     
  </ion-slide-box>
 </ion-content>
</ion-view>
