<ion-view view-title="Profile">
  <ion-content>
     
      <div class="card">
        <div class="item item-divider">
         Basic Info
        </div>
        <div class="item item-text-wrap">
          <label class="item">
           Name : Pravat Kumar Routray
         </label>
         <label class="item">
           Age : 25
         </label>
         <label class="item">
           Sex : Male
         </label>
        </div>
      </div>
    
    
      <div class="card">
        <div class="item item-divider">
         Health info 
        </div>
        <div class="item item-text-wrap">
         <label class="item">
           Height : 168 Cm
         </label>
         <label class="item">
           Weight : 69 Kg
         </label>
         <label class="item">
           Blood Group : O+
         </label>
        </div>
      </div>
    
  </ion-content>
<div class="bar bar-footer bar-stable">
  <button class="button button-block button-positive">Edit Profile</button>
</div>
</ion-view>