<ion-view view-title="Profile">
  <ion-content>
     
      <div class="card">
        <div class="item item-divider">
         Basic Info
        </div>
        <div class="item item-text-wrap">
          <label class="item">
           Name : {{vm.userData.Name}}
         </label>
         <label class="item">
           Age : {{vm.userData.Age}}
         </label>
         <label class="item">
           Sex : {{vm.userData.Sex}}
         </label>
        </div>
      </div>
    
    
      <div class="card">
        <div class="item item-divider">
         Health info 
        </div>
        <div class="item item-text-wrap">
         <label class="item">
           Height : {{vm.userData.Height}} Cm
         </label>
         <label class="item">
           Weight : {{vm.userData.Weight}} Kg
         </label>
         <label class="item">
           Blood Group : {{vm.userData.BloodGroup}}
         </label>
        </div>
      </div>
    
  </ion-content>
<div class="bar bar-footer bar-stable">
  <button class="button button-block button-positive">Edit Profile</button>
</div>
</ion-view>